.detailContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.detailImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.detailTextContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    color: var(--color-first);
}

.detailImage {
    width: 70%;
    transition: all ease 1s;
    object-fit: cover;
}

.detailImage:hover {
    transform: scale(1.6);
}

.detailBrand {
    font-weight: 1000;
    font-size: 5rem;
    margin-block: 1rem;
}

.detailModel {
    font-weight: 600;
    font-size: 5rem;
    margin-block: 1rem;
}

.detailColor {
    font-weight: 300;
    font-size: 4rem;
    margin-block: 2rem;
}

.detailPrice {
    font-weight: 800;
    font-size: 4rem;
    margin-block: 2rem;
}