.image {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon {
    margin-left: -20rem;
}

.carousel-control-next-icon {
    margin-right: -20rem;
}

.carousel-indicators {
    height: 2rem;
    top: 0;
}