/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}

/* Root */
html {
    font-size: 62.5%;
}

:root {
  --color-first: #4a266a;
  --color-second: #7f4a88;
}

/* 404 */
.errorTitle {
  color: var(--color-first);
  font-size: 2rem;
}

.errorMessage {
  color: var(--color-second);
  font-size: 3rem;
}

.errorLink {
  color: var(--color-second);
  font-size: 2.5rem;
}

/* Sweet alert */
.swal-modal {
  height: 25rem;
  width: 60rem;
}

.swal-title {
  color: var(--color-first);
}

.swal-text {
  font-size: 2rem;
  color: var(--color-second);
  text-align: center;
}