.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
}

.cardHover {
    transition: all ease 0.5s;
}

.cardHover:hover {
    transform: scale(1.2);
    color: var(--color-second);
}

.card {
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    color: var(--color-first);
}

.cardImage {
    width: 50rem;
}

.cardBrand {
    font-weight: 1000;
    font-size: 4rem;
}

.cardModel {
    font-weight: 600;
    font-size: 3rem;
}

.cardPrice {
    font-weight: 400;
    font-size: 2rem;
}